@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/ggc5dwc.css");

.App {
  font-family: 'lores-12', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  background: black;
  color: #06FF05;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: black;
  color: #06FF05;
  border: 1px solid #06FF05;
  font-weight: 200;
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #06FF05;
  padding: 0.15rem;
  
}

.logo {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
  margin-right: 0.5rem;

}

.text-input {
  border: 1px solid #06FF05;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0rem 0.5rem;
}

.message-row {
  width: 100vw;
  display: flex;
  padding-top: 1rem;
}

.message {
  border-left: 1px solid #06FF05;
  margin: 0.75rem;
  display: inline-block;
}

.message-name {
  font-size: 1rem;
  opacity: 0.4;
  padding: 0rem 0.75rem;
}

.message-text {
  padding: 0.25rem 0.75rem;
}

input {
  font-family: 'lores-12', sans-serif;
  background-color: black;
  color: #06FF05;
}

.text-input input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  position: relative;
}

.text-input ::placeholder {
  color: #06FF05;
  opacity: 0.4;
}

button {
  background-color: #06FF05;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
}

.text-input button {
  padding: 0.75rem;
  position: absolute;
  right: 1.5rem;
  
}

button:hover {
  background-color: black;
  color: #06FF05;
  border: 1px solid #06FF05;
}

button:disabled,
button[disabled]{
  opacity: 0.4;
  cursor: default;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

.name-picker {
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: 0.75rem;
}

.name-picker button {
  padding: 0.35rem;
  border: 1px solid #06FF05;
}

.name-picker input {
  border: 1px solid #06FF05;
  padding: 0.25rem 0.5rem;
  display: flex;
  width: 6rem;
  margin-right: 1rem;
}

.username {
  font-size: 1rem;
  padding-top: 0.2rem;
  margin-right: 1rem;
}

.light {
  color: #06FF05;
  opacity: 0.4;
}

.messages::-webkit-scrollbar {
  width: 0.5rem;
}
 
.messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.messages::-webkit-scrollbar-thumb {
  background-color:  #06FF05;
  outline: 1px solid black;
}

@media only screen and (min-width: 480px) {
  .App {
    font-size: 1rem;
  }
  
  h1 {
      font-size: 1.5rem;
  }

  .name-picker input {
    width: 10rem;
  }

  .header, .text-input {
    margin: 1rem;
  }

  .messages {
    margin: 0rem 1rem;
  }

  .message-name {
    font-size: 0.8rem;
  }
}