@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #085078;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: #085078;
  color: white;
  font-weight: 400;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
  margin-right: 0.5rem;

}

.text-input {
  background: rgba(255,255,255,0.7);
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: 0.75rem;
  padding: 0.5rem;
}

.message-row {
  width: 100vw;
}

.message {
  background: rgba(255,255,255,0.7);
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.25rem 0.75rem;
  display: inline-block;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.25rem;
}

button {
  background-color: #085078;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
}

button:hover {
  background-color: white;
  color: #085078;
}

button:disabled,
button[disabled]{
  opacity: 0.4;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

